load_system_dawg                          0
load_freq_dawg                            0
load_unambig_dawg                         0
load_punc_dawg                            0
load_number_dawg                          0
load_bigram_dawg                          0
load_fixed_length_dawgs                   0
language_model_penalty_non_dict_word      0
language_model_penalty_non_freq_dict_word 0
tessedit_enable_doc_dict                  0
tessedit_enable_bigram_correction         0
tessedit_enable_dict_correction           0
tessedit_char_whitelist                   ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789
